<div>
    <navigation-bar></navigation-bar>
    <img src="/public/img/Book-Trading-Club-logo.png" />

    <form novalidate name="form" ng-submit="addBook(search.terms)" method="post">
        <div class="col-md-8">
            <input type="text" class="form-control searchterms text-center" placeholder="Book Title" ng-model="search.terms">
        </div>
        <div class="col-md-4">
            <input type="submit" class="btn search-btn btn-block" value="Add Book" />
        </div>
    </form>

	<div class="text-center error-message">{{ errorMessage }}</div>

    <h1>My Books</h1>
    <div ng-show="!isLoggedIn">Please sign in <a href="#/signin">here</a> to show your books.</div>
    <div ng-show="mybooks.length < 1">You haven't added any books yet.</div>
    <div class="row book">
        <div class="book col-sm-2" ng-repeat="mybook in mybooks">
            <img tooltips tooltip-template="{{ mybook.title.substring(0, 51) }} Owner: {{ mybook.username }}" tooltip-size="small" tooltip-side="bottom" class="book-image" src="{{ mybook.thumbnail || 'https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=128&h=193' }}" alt="{{mybook.title}}"/>
            <span class="delete-book" ng-click="deleteBook(mybook._id)">x</span>
        </div>
    </div>

    <h1>All Books</h1>
    <div ng-show="!isLoggedIn">Please sign in <a href="#/signin">here</a> to show all books.</div>
    <div class="row">
        <div class="book col-sm-2" ng-repeat="book in books">
            <img tooltips tooltip-template="{{ book.title.substring(0, 51) }} Owner: {{ book.username }}" tooltip-size="small" tooltip-side="bottom" class="book-image" src="{{ book.thumbnail || 'https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=128&h=193' }}" alt="{{book.title}}"/>
        </div>
    </div>

	<div class="text-center footer">
		Angular Fullstack | <a href="https://github.com/pytong/book-trading-club" target="_blank">GitHub</a>
	</div>

</div>